*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("bg.jpg");
    background-size: cover;
    font-family: Courier New, Courier, monospace;
}

h1{
    margin: 20px;
    color: white;
    font-size: 2em;
}

h1 > span{
    font-weight: bold;
    color:blue;
}

#clock{
    width: 400px;
    height: 400px;
    margin: 0px auto;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    border-radius: 50%;
	margin-top: 5%;
	background-color: rgba(255, 255, 255, 0.75);
}

.clock-body{
    color: blue;
    text-align: center;
}

#clock-time{
    padding-top: 25%;
    font-size: 5em;
    
}

#clock-date{
    padding-top: 15%;
    font-size: 1.4em;
}